TxDot.Web.Services/Web References/RtsInvService/RtsInvService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns2="http://data.inv.webservices.rts.isd.txdot.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:intf="http://inv.webservices.rts.isd.txdot.com" xmlns:tns3="http://data.common.webservices.rts.isd.txdot.com" xmlns:impl="http://inv.webservices.rts.isd.txdot.com" targetNamespace="http://inv.webservices.rts.isd.txdot.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:intf="http://inv.webservices.rts.isd.txdot.com" elementFormDefault="qualified" targetNamespace="http://data.inv.webservices.rts.isd.txdot.com">
      <xsd:import namespace="http://data.common.webservices.rts.isd.txdot.com" />
      <xsd:complexType name="RtsInvRequest">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns3:RtsAbstractRequest">
            <xsd:sequence>
              <xsd:element name="itmYr" type="xsd:int" />
              <xsd:element name="itmCd" nillable="true" type="xsd:string" />
              <xsd:element name="itmNo" nillable="true" type="xsd:string" />
              <xsd:element name="manufacturingPltNo" nillable="true" type="xsd:string" />
              <xsd:element name="regPltNo" nillable="true" type="xsd:string" />
              <xsd:element name="requestingOfcIssuanceNo" type="xsd:int" />
              <xsd:element name="fromReserveFlag" type="xsd:boolean" />
              <xsd:element name="isaFlg" type="xsd:boolean" />
              <xsd:element name="plpFlag" type="xsd:boolean" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="RtsInvResponse">
        <xsd:complexContent mixed="false">
          <xsd:extension base="tns3:RtsAbstractResponse">
            <xsd:sequence>
              <xsd:element name="invItmNo" nillable="true" type="xsd:string" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:intf="http://inv.webservices.rts.isd.txdot.com" elementFormDefault="qualified" targetNamespace="http://data.common.webservices.rts.isd.txdot.com">
      <xsd:complexType name="RtsAbstractRequest" abstract="true">
        <xsd:sequence>
          <xsd:element name="action" type="xsd:int" />
          <xsd:element name="caller" nillable="true" type="xsd:string" />
          <xsd:element name="sessionId" nillable="true" type="xsd:string" />
          <xsd:element name="versionNo" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RtsAbstractResponse" abstract="true">
        <xsd:sequence>
          <xsd:element name="errMsgDesc" nillable="true" type="xsd:string" />
          <xsd:element name="errMsgNo" type="xsd:int" />
          <xsd:element name="versionNo" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:intf="http://inv.webservices.rts.isd.txdot.com" elementFormDefault="qualified" targetNamespace="http://inv.webservices.rts.isd.txdot.com">
      <xsd:import namespace="http://data.inv.webservices.rts.isd.txdot.com" />
      <xsd:element name="processData">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="aarrRequest" type="tns2:RtsInvRequest" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="processDataResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="processDataReturn" type="tns2:RtsInvResponse" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="processDataRequest">
    <wsdl:part name="parameters" element="impl:processData" />
  </wsdl:message>
  <wsdl:message name="processDataResponse">
    <wsdl:part name="parameters" element="impl:processDataResponse" />
  </wsdl:message>
  <wsdl:portType name="RtsInvService">
    <wsdl:operation name="processData">
      <wsdl:input name="processDataRequest" message="impl:processDataRequest" />
      <wsdl:output name="processDataResponse" message="impl:processDataResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RtsInvServiceSoapBinding" type="impl:RtsInvService">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="processData">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="processDataRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="processDataResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RtsInvServiceService">
    <wsdl:port name="RtsInvService" binding="impl:RtsInvServiceSoapBinding">
      <wsdlsoap:address location="http://wt-rts-ts1:8583/RTSPOSProject/services/RtsInvService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>